.genesis-section {
    padding: 50px;
    background-color: white;
    text-align: center;
}

.genesis-header h1 {
    font-size: 36px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}

.genesis-header .highlight {
    color: #00A859; /* Green color */
}

.genesis-header p {
    margin: auto;
    width: 60%;
    font-size: 18px;
    color: #3f3d3d;
    margin-bottom: 40px;
}
.genesis-carousel{
    display: flex;
    justify-content: center;
    align-items: center;
}
.genesis-carousel .carousel-item {
    display: flex;
    margin: 0px 150px;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 20px;
}

.carousel-image img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

.carousel-content {
    margin-left: 20px;
    text-align: left;
}

.carousel-content h2 {
    font-size: 24px;
    color: #000000;
    margin-bottom: 10px;
}

.carousel-content h3 {
    font-size: 20px;
    color: #00A859; /* Green color */
    margin-bottom: 15px;
}

.carousel-content p {
    font-size: 16px;
    color: #444444;
}
.why-vm-routes {
    padding: 40px 0;
    text-align: center;
    background-color: #fff;
  }
  
  .why-title {
    font-size: 2.5em;
    color: #28a745; /* Change this color to match your theme */
    margin-bottom: 40px;
  }
  
  .why-cards {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
  }
  
  .why-card {
    flex: 1;
    max-width: 300px;
    text-align: center;
  }
  
  .icon-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .icon-wrapper img {
    width: 50px;
    height: 55px;
  }
  
  .why-card h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #333;
  }
  
  .why-card p {
    font-size: 1em;
    color: #666;
  }
  