.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #f5f5f5;
    color: #333;
    text-align: left;
    flex-wrap: wrap; 
}

.footer-section {
    width: 100%; 
    margin-bottom: 20px; 
}

.footer-logo {
    width: 80px;
    margin-bottom: 10px;
}

.footer-section h4 {
    color: green;
    margin-bottom: 10px;
}

.footer-section p {
    margin: 5px 0;
}

.security-icon {
    width: 40px;
}

.footer-bottom {
    background-color: #f5f5f5;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    font-size: 14px;
    color: #666;
}

.footer-icons {
    width: 50px; 
    height: 50px;
}


@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    .footer-section {
        width: 80%; 
        text-align: center; 
    }

    .footer-logo {
        width: 60px; 
    }

    .security-icon {
        width: 30px; 
    }

    .footer-bottom {
        padding: 8px 0;
        font-size: 13px;
    }

    .footer-icons {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 480px) {
    .footer-container {
        flex-direction: column;
        padding: 10px;
    }

    .footer-section {
        width: 100%;
        text-align: center;
        margin-bottom: 15px; 
    }

    .footer-logo {
        width: 50px; 
    }

    .footer-section h4 {
        font-size: 1.2rem; 
    }

    .footer-section p {
        font-size: 0.9rem; 
    }

    .security-icon {
        width: 25px;
    }

    .footer-bottom {
        padding: 5px 0;
        font-size: 12px;
    }

    .footer-icons {
        width: 30px;
        height: 30px;
    }
}
